
    <h3>Demandes</h3>

    <label for="statusFilter">Filtrer par status:</label>
    <select id="statusFilter" [(ngModel)]="selectedStatus" name="statusFilter">
      <option value="">Toutes</option>
      @for (status of statusOptions; track status) {
        <option [value]="status">{{ status }}</option>
      }
    </select>


    <table>
      <thead>
        <tr><th>ID</th><th>Titre</th><th>Details</th><th>Status</th><th>Date de Creation</th><th>Date Derniere Modification</th><th span="2">Action</th></tr>
      </thead>
      <tbody>
        @for (demande of filteredDemandes; track demande.id) {
          <tr>
            <td>{{ demande.id }}</td>
            <td>{{ demande.titre }}</td>
            <td>{{ demande.details}}</td>
            <td>{{ demande.status }}</td>
            <td>{{ demande.dateCreation | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>{{ demande.dateDerniereModification | date:'dd/MM/yyyy HH:mm'}}</td>
            <td>
              <button type="button" (click)="deleteDemande(demande.id)">Supprimer</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

